/* Html style */
html{
    background-color: yellow;

}

/* Body style */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 650px;
    background-color: white;
    border: 10px double blue;
    margin: 0px auto;
    padding: 20px;
}

/* image style */

img{
    float: left;
    margin: 10px 10px 10px 0px;
    padding: 0px;
    
}

/* Heading 1 style */
h1{
    font-size: 28px;
    color: blue;
    margin-top:0px;
    margin-bottom: 2px;
}

/* Heading 2 style */
h2{
    font-size: 20px;
    margin-bottom: 2px;
    margin: 5px 5px 5px 0px;
}

/* Heading 3 style */
h3{
    font-size: 18px;
    margin: 0px;
    margin-left: -5px;
    padding:5px;
}

/* paragraph style */

p{
    margin: 0px 5px 5px 0px;
   
    padding: 2px 0px;

}

/* .paragraph style */
.paragraph {
    text-align: right;
    margin: -2px;
}

/* block quote style */
blockquote {
    margin: 2px 2px;
}

/* cite style */
cite {
    color: blue;
    font-style: normal;
}

/* unordered list style */
ul{
    margin: 0px;
}

/* li style */
li{
    margin: 2px;
    margin-left: -20px;
}

/* footer style */
footer{
    border-top: 4px solid blue;
    margin-top: 30px;
    margin-bottom: -10px;
    text-align: center;
    font-weight: bold;



}

/* footer text style */

.footer{
    margin: 15px 0px -10px 0px;
    padding: 2px;
    font-size: 15px;
}