/* GENERAL STYLING */

/* th, td styling */
th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
    padding-right: 10px;
    padding-left: 10px;
} 

/* Styling for the years of service entries classified as 'number' */
.number {
    text-align: end;
}

/* styling to add color to first row of both tables */
 thead{
    background-color: yellow;
    text-align: left;
}

/* styling to add color to every even row */
tbody tr:nth-child(even){
    background-color: yellow;
}






/* TABLE 1 STYLING */

/* styling for div of the first table */
#div1 {
    border: 1px solid black;
    padding: 20px;
    width: 460px;
    box-shadow: 6px 6px 4px grey;
    margin: 20px 50px;
}

/* Styling for the first table */
#table1 {
border: 1px solid black;
border-collapse: collapse;
margin: auto;
width:450px;

}




/* TABLE 2 STYLING */


/* Styling for the second table */
#table2 {
border: 1px solid black;
border-collapse: collapse;
margin: auto;
width: 580px;

}

/* Styling for the second div which is for the second table */
#div2 {
    border: 1px solid black;
    padding: 20px;
    width: 590px;
    box-shadow: 6px 6px 4px grey;
    margin: 50px 50px;
}

/* Styling for the second tables caption */
caption {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}

/* styling for the "Total years of service" row text*/
#tablebottom{
    text-align: end;
    font-weight: bold;
}

/* styling for tfoot */
tfoot{
    background-color: yellow;
}

/* styling to set department entries as white and font as bold */
.notColorful{
    background-color: white;
    font-weight:bold;
    vertical-align: text-top;
    
}




